<!-- <app-news></app-news>
<app-home></app-home> -->


<!-- <span routerLink='NewsComponent' [queryParams]="{id:'NewsComponent'}"  routerLinkActive='active'>NewsComponent</span>
<span>-----------------</span>
<span routerLink='HomeComponent' [queryParams]="{id:'HomeComponent'}"  routerLinkActive='active'>HomeComponent</span>
<hr/>
<app-users></app-users>
<app-settings></app-settings>
<router-outlet><router-outlet> -->

<p>---------------此处是分割线------------------</p>
<span routerLink='mall'>mall</span>
<span>-----------------</span>
<span routerLink='product' >product</span>
<router-outlet><router-outlet>